In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/john-adeojo/ai_analyst/main/datasets/CO2%20Emissions_Canada.csv?token=GHSAT0AAAAAACEB32AYAMCX36IMVKRCHBOAZFLI34A")

# Test Group 1 - Univariate Statistics

## Which vehicle has the highest co2 emissions on average?

In [3]:
highest_avg_emissions = df[["Vehicle", "CO2 Emissions(g/km)"]].groupby("Vehicle").mean().sort_values(by="CO2 Emissions(g/km)", ascending=False).head(1)
highest_avg_emissions

                CO2 Emissions(g/km)
Vehicle
BUGATTI CHIRON                522.0

## Which vehicle has the lowest co2 emissions on average?

In [4]:
Lowest_avg_emissions = df[["Vehicle", "CO2 Emissions(g/km)"]].groupby("Vehicle").mean().sort_values(by="CO2 Emissions(g/km)", ascending=True).head(1)
Lowest_avg_emissions

                    CO2 Emissions(g/km)
Vehicle
HYUNDAI IONIQ BLUE                 96.0

In [5]:
## which brand has the lowest average emissions?

In [6]:
Lowest_avg_emissions_brand = df[["Brand", "CO2 Emissions(g/km)"]].groupby("Brand").mean().sort_values(by="CO2 Emissions(g/km)", ascending=True).head(1)
Lowest_avg_emissions_brand

       CO2 Emissions(g/km)
Brand
SMART           151.428571

In [7]:
Highest_avg_emissions_brand = df[["Brand", "CO2 Emissions(g/km)"]].groupby("Brand").mean().sort_values(by="CO2 Emissions(g/km)", ascending=False).head(1)
Highest_avg_emissions_brand

         CO2 Emissions(g/km)
Brand
BUGATTI                522.0

# Test Group 2 - Bi-variate Analysis

## Which vehicle  has the highest ratio of emissions to engine size?

In [8]:
df["emissions per litre"] = df["CO2 Emissions(g/km)"]/df["Engine Size(L)"]
Highest_avg_emissions_per_litre = df[["Vehicle", "emissions per litre"]].sort_values(by="emissions per litre", ascending=False).head(1)
Highest_avg_emissions_per_litre

            Vehicle  emissions per litre
6777  FORD EcoSport                197.0

## Which vehicle has the lowest ratio of emissions to engine size?

In [9]:
df["emissions per litre"] = df["CO2 Emissions(g/km)"]/df["Engine Size(L)"]
Highest_avg_emissions_per_litre = df[["Vehicle", "emissions per litre"]].sort_values(by="emissions per litre", ascending=True).head(1)
Highest_avg_emissions_per_litre

                 Vehicle  emissions per litre
1304  CHEVROLET CORVETTE            41.612903

# Test Group 3 - Higher lever reasoning

## which vehicle is the most fuel efficient?

In [10]:
most_fuel_efficent = df.sort_values(by="Fuel Consumption Comb (mpg)", ascending=False).head(1)
most_fuel_efficent

,Brand,Vehicle,Vehicle Type,Engine Size(L),Cylinders,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km),emissions per litre
6950,HYUNDAI,HYUNDAI IONIQ Blue,FULL-SIZE,1.6,4,X,4.2,4.0,4.1,69,96,60.0

## which car is the least fuel efficient?

In [11]:
least_fuel_efficent = df.sort_values(by="Fuel Consumption Comb (mpg)", ascending=True).head(1)
least_fuel_efficent

,Brand,Vehicle,Vehicle Type,Engine Size(L),Cylinders,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km),emissions per litre
228,CHEVROLET,CHEVROLET EXPRESS 3500 PASSENGER,VAN - PASSENGER,6.0,8,E,30.2,20.5,25.8,11,413,68.833333

## Which vehicle is the worst for the environment?

In [12]:
highest_avg_emissions

                CO2 Emissions(g/km)
Vehicle
BUGATTI CHIRON                522.0